In [1]:
import pandas as pd

In [2]:
juni21 = pd.read_csv("/Users/ASUS/skripsi/data fix/juni21.csv")
juli21 = pd.read_csv("/Users/ASUS/skripsi/data fix/juli21.csv")
agustus21 = pd.read_csv("/Users/ASUS/skripsi/data fix/agustus21.csv")
september21 = pd.read_csv("/Users/ASUS/skripsi/data fix/september21.csv")
oktober21 = pd.read_csv("/Users/ASUS/skripsi/data fix/oktober21.csv")
november21 = pd.read_csv("/Users/ASUS/skripsi/data fix/november21.csv")
desember21 = pd.read_csv("/Users/ASUS/skripsi/data fix/desember21.csv")
januari22 = pd.read_csv("/Users/ASUS/skripsi/data fix/januari22.csv")
februari22 = pd.read_csv("/Users/ASUS/skripsi/data fix/februari22.csv")
maret22 = pd.read_csv("/Users/ASUS/skripsi/data fix/maret22.csv")
april22 = pd.read_csv("/Users/ASUS/skripsi/data fix/april22.csv")
mei22 = pd.read_csv("/Users/ASUS/skripsi/data fix/mei22.csv")
juni22 = pd.read_csv("/Users/ASUS/skripsi/data fix/juni22.csv")
juli22 = pd.read_csv("/Users/ASUS/skripsi/data fix/juli22.csv")
agustus22 = pd.read_csv("/Users/ASUS/skripsi/data fix/agustus22.csv")
september22 = pd.read_csv("/Users/ASUS/skripsi/data fix/september22.csv")
oktober22 = pd.read_csv("/Users/ASUS/skripsi/data fix/oktober22.csv")
november22 = pd.read_csv("/Users/ASUS/skripsi/data fix/november22.csv")
desember22 = pd.read_csv("/Users/ASUS/skripsi/data fix/desember22.csv")
januari23 = pd.read_csv("/Users/ASUS/skripsi/data fix/januari23.csv")
februari23 = pd.read_csv("/Users/ASUS/skripsi/data fix/februari23.csv")

In [3]:
df = pd.concat([juni21, juli21, agustus21, september21, oktober21, november21, desember21, 
               januari22, februari22, maret22, april22, mei22, juni22,  
               juli22, agustus22, september22, oktober22, november22, desember22, 
               januari23, februari23], 
               ignore_index = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12583 entries, 0 to 12582
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12583 non-null  int64
 1   date        12583 non-null  object
 2   link        12583 non-null  object
 3   username    12583 non-null  object
 4   tweet       12583 non-null  object
 5   like        12583 non-null  int64
 6   retweet     12583 non-null  int64
 7   reply       12583 non-null  int64
 8   qrt         12583 non-null  int64
dtypes: int64(5), object(4)
memory usage: 884.9+ KB

In [8]:
df = df.drop(['Unnamed: 0'], axis = 1)

In [11]:
df["date"] = pd.to_datetime(df["date"])
df.drop_duplicates("tweet", inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12487 entries, 0 to 12582
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      12487 non-null  datetime64[ns, UTC]
 1   link      12487 non-null  object
 2   username  12487 non-null  object
 3   tweet     12487 non-null  object
 4   like      12487 non-null  int64
 5   retweet   12487 non-null  int64
 6   reply     12487 non-null  int64
 7   qrt       12487 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(4), object(3)
memory usage: 878.0+ KB

In [14]:
df.head()

,date,link,username,tweet,like,retweet,reply,qrt
0,2021-06-29 18:03:57+00:00,https://twitter.com/doxbby/status/140993568626...,doxbby,@kebpvin LAH ITU NORMAL MSIB,0,0,1,0
1,2021-06-29 12:49:34+00:00,https://twitter.com/vepnti/status/140985656797...,vepnti,WTS / want to sell\n\nnendoroid kaguya shinomi...,1,0,1,2
2,2021-06-28 12:42:20+00:00,https://twitter.com/kelontongkim/status/140949...,kelontongkim,WTS nendoroid chizuru mizuhara\nKondisi: seale...,1,0,0,0
3,2021-06-28 12:23:27+00:00,https://twitter.com/JapanMerchFess/status/1409...,JapanMerchFess,"!lapakjp wts nendoroid chizuru 680,000 bisa or...",0,1,0,0
4,2021-06-27 01:30:25+00:00,https://twitter.com/JapanMerchFess/status/1408...,JapanMerchFess,!lapakjpwta nendo osamu msib ready ina 970k ud...,1,0,7,0

In [21]:
sample = df.sample(1500, random_state=42)
sample.head()

,date,link,username,tweet,like,retweet,reply,qrt
2895,2022-07-19 14:41:28+00:00,https://twitter.com/collegemenfess/status/1549...,collegemenfess,[cm] adakah kakak2 yg ikut msib angkatan sebel...,0,0,3,0
9770,2023-01-09 12:58:17+00:00,https://twitter.com/unnesmenfess/status/161243...,unnesmenfess,-ness maaf mau tanya disini ada mahasiswa smst...,1,0,0,0
2878,2022-07-20 02:12:31+00:00,https://twitter.com/YUPIEN_FESS/status/1549577...,YUPIEN_FESS,-upnjog masi bisa ga minta ttd untuk surat SPT...,0,0,1,0
5621,2022-12-29 14:43:18+00:00,https://twitter.com/bapakkusungjin/status/1608...,bapakkusungjin,anjir kok bisa ini kaprodi gatau apa2 soal MSIBðŸ˜­,0,0,0,0
2811,2022-07-21 05:09:43+00:00,https://twitter.com/wonderkid911/status/154998...,wonderkid911,beberapa minggu lalu ada mahasiwa yang selalu ...,0,0,1,0

In [19]:
df.to_csv('/Users/ASUS/skripsi/data fix/alldata.csv', index=False)

In [22]:
sample.to_csv('/Users/ASUS/skripsi/data fix/sampledata.csv', index=False)